body{
    background-color: rgb(221, 9, 9);
}
head{
    text-emphasis-color: rgb(255, 170, 0);
}
p {

    border: 2px solid powderblue;
    padding: 30px;
    margin: 50px; 
  }
  a:hover{
    color: rgb(255, 205, 232);
    background-color: transparent;
  }